node.name: {{inventory_hostname}}
discovery.zen.ping.unicast.hosts: {{ groups[elasticsearch_cluster_group]|to_json }}
discovery.zen.minimum_master_nodes: {{ (groups[elasticsearch_cluster_group]|length) // 2 + 1  }}
cluster.name: {{elasticsearch_cluster_name}}
network.host: {{ansible_default_ipv4.address}}
network.bind_host: {{elasticsearch_bind_host}}
{{es_cluster_additional_config}}
